{% extends 'Base/baseHead.html' %}
{% block bloque_titulo %}
        MedCom | Especialidades | Buscar
{% endblock bloque_titulo %}

{% block bloque_nav_items %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 active" href={% url 'buscar_especialidades' %}><i class="bi bi-search"></i> Buscar</a></li>
{% endblock bloque_nav_items %}

{% block bloque_h1_header %}
    Búsqueda de especialidades
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Filtrá especialidades por nombre
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="bg-light">
        <div class="container">
            <form class="p-3 p-lg-4" action={% url 'buscar_especialidades' %} method="GET">
                <table class="col-md-5 fst-italic">
                    {{ formulario_buscar_especialidades.as_table }}
                </table>
                <div class="py-3 py-lg-4">
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-search"></i> Buscar</button>
                    <!-- Divider-->
                    <hr/>
                </div>
            </form>
            {% if especialidades %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% for especialidad in especialidades %}
                            
                            <div class="especialidad-preview">
                                <a href={% url 'ver_especialidad' especialidad.id %}>
                                    <h2 class="especialidad-nombre">{{ especialidad.nombre }}</h2>
                                    <h3 class="especialidad-abreviatura">{{ especialidad.abreviatura }}</h3>
                                </a>
                                <p class="especialidad-meta">
                                    De: {{ especialidad.autor }}
                                    <br>
                                    Fecha: {{ especialidad.fecha_creacion }}.
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4"/>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="px-3 px-lg-4 pb-3 pb-lg-4 lead fst-italic">
                    <p>No se encontraron especialidades con el nombre ingresado.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock bloque_contenido %}