{% extends 'Base/baseHead.html' %}
{% block bloque_titulo %}
    MedCom | Especialidades | Nuevo
{% endblock bloque_titulo %}

{% block bloque_nav_items %}
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 active" href={% url 'crear_especialidad' %}><i class="bi bi-journal-richtext"></i> Nuevo</a></li>
{% endblock bloque_nav_items %}

{% block bloque_h1_header %}
    Nueva especialidad
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Registrar nueva especialidad
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="bg-light">
        <div class="container">
            <form class="p-3 p-lg-4" action={% url 'crear_especialidad' %} method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless col-md-5 fst-italic">
                    {{ form.media }}
                    {{ form }}
                </table>
                <div>
                    <button class="btn btn-outline-primary fst-italic"><i class="bi bi-bookmark"></i> Guardar</button>
                    <a class="btn btn-outline-danger fst-italic" href={% url 'ver_especialidades' %} role="button"><i class="bi bi-x-circle"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </section>
{% endblock bloque_contenido %}