{% extends 'Base/baseHead.html' %}
{% load static %}

{% block bloque_titulo %}
        MedCom | About Me
{% endblock bloque_titulo %}

{% block bloque_nav_item_sobre_mi %}
    <li class="nav-item"><a class="nav-link text-light px-lg-3 py-3 py-lg-4 active" href={% url 'aboutMe' %}><i class="bi bi-info-circle"></i> About Me</a></li>
{% endblock bloque_nav_item_sobre_mi %}

{% block bloque_h1_header %}
    About Me
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
    Un breve comentario del autor
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
    <section class="testimonials text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src= {% static 'assets/img/martina.jpg' %} alt="Martina"/>
                        <h5>Martina</h5>
                        <p class="mb-0 fst-italic">
                            "¡Hola! Mi nombre es Martina, tengo 20 años y estudio Ingeniería en Sistemas de la Información en la Universidad Tecnológica Nacional en la provincia de Cordoba"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock bloque_contenido %}